<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Scaling App</title>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>

<div class="starter-template">
    <h1>Spring Boot Web Thymeleaf Example</h1>
</div>

<div class="container">
    <div th:utext="${image.svgImage}"></div>

    <div class="square" th:each="location : ${image.location}"
         th:style="|top:${location.top}%; left: ${location.left}%|">
        <object type="image/svg+xml" data="svg/m.svg"></object>
    </div>
</div>

</body>
</html>